node_modules/
docs/
src/
dist/bundle/
dist/tests/
dist/mocha/
*.map
*.log
*.tgz
ts-boilderplate-*
.gitignore
.npmignore
tsconfig.json
webpack.config.js
webpack.dev.config.js
nodemon.json
.travis.yml
.vscode/
